
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Simple Query Form</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
     <form action="" method="post">
            {{ form.csrf }}

            <div class="input Query">
                {{ form.where_lat.label }} {{ form.where_lat }}
            </div>

          <div class="input Query">
                {{ form.where_lon.label }} {{ form.where_lon }}
            </div>

            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>


         {% if sunmaxalt != None %}

              <h2>Sun Altitude during the year</h2>
            <img src="data:image/png;base64,{{ sunmaxalt }}">
        {% endif %}

       {% if sunriseset != None %}

              <h2>Sun Rise and setting times during the year</h2>
            <img src="data:image/png;base64,{{ sunriseset }}">
        {% endif %}


        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
</html>
